html, body {
	font-family: 'Kanit', sans-serif;
	height: 100%;
	margin: 0;
	position: relative;
}

ul {
	list-style: none;
}

.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.menu {
	width: fit-content;
	left: auto;
}

.menu li a {
	color: white;
	padding: 20px;
	cursor: default;
}

.menu li a:hover, .menu li a:focus {
	background: transparent;
}

.menu li a i {
	cursor: pointer;
}

.page {
	width: 100%;
	min-height: 100%;
	display: table;
}

.page-content {
	padding: 5% 7%;
	text-align:center;
	vertical-align: middle;
	display: table-cell;
    position: relative;
}

.page-content .topic {
	margin-top: 0;
	margin-bottom: 30px;
}

.search-page {
	color: white;
	background-color: SteelBlue;
}

.search-page .page-content {
	top: -40px;
}

.search-page img {
	max-width: 90%;
}

.search-page .awesomplete {
	color: black;
}

.search-page .awesomplete .search-box {
	font-size: 1.5em;
	text-align: center;
	border: 1px solid #aaa;
  	width: 500px;
	max-width: 100%;
	margin-top: 20px;
	padding: 5px 10px;
}

.search-page .awesomplete ul {
	top: 65px;
	max-height: 150px;
    overflow: auto;
}

.search-page .awesomplete li {
	font-size: 1.2em;
	text-align: left;
}

.search-page .awesomplete li mark {
	background-color: transparent;
	font-weight: bold;
	padding: 0;
}

.interviewee-page {
	color: white;
	background-color: #5f5f5f;
}

.interviewee-page .page-content {
	vertical-align: top;
	padding-bottom: 4%;
}

.interviewee-page .interviewee-tabs li {
	display: inline-block;
}

.interviewee-page .nav-pills {
	width: fit-content;
	margin: 0 auto 30px;
}

.interviewee-page .nav-pills li {
	margin-right: 30px;
}

.interviewee-page .nav-pills li a {
	color: white;
	font-size: 1.5em;
	text-transform: capitalize;
	border: thin solid white;
}

.interviewee-page .nav-pills li.active a {
	background-color: SteelBlue;
}

.interviewee-page .nav-pills li:not(.active) a:hover, .interviewee-page .nav-pills li:not(.active) a:focus {
	background-color: rgba(255, 255, 255, 0.1);
}

.interviewee-page .tab-content {
	width: fit-content;
	margin: auto;
}

.interviewee-page .tab-pane {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

.interviewee-page .tab-pane li {
	font-size: 1.5em;
	font-weight: 300;
	text-align: left;
	padding-top: 5px;
}

.interviewee-page .tab-pane li.focus {
	color: SteelBlue;
}

.interviewee-page .tab-pane li .interviewRef {
	font-weight: 500;
	width: 20%;
}


.interviewee-page .tab-pane li .fullname {
	width: 80%;
}

.interviewee-page .tab-pane li .firstname {
	margin-right: 5px;
}

.homework-page {
	color: white;
	background-color: SteelBlue;
}

.homework-page .homework {
	padding: 10px;
}

.homework-page .homework-content {
	border: 2px solid white;
	border-radius: 10px;
	height: 100%;
	padding: 20px;
}

.homework-page .homework-content h2 {
	font-size: 1.5em;
	margin-bottom: 0;
}

.homework-page .homework-content img {
	width: 70%;
	max-width: 223px;
	margin-bottom: 10px;
}

.homework-page .homework-content .detail {
	font-size: 1.2em;
	font-weight: 200;
	text-align: left;
}

.homework-page .homework-content .detail p {
	text-indent: 25px;
}

.homework-page .homework-content .detail ul {
	list-style: disc;
}

@media screen and (max-width: 1450px) {
	.interviewee-page .tab-pane {
	    -moz-column-count: 3;
	    -webkit-column-count: 3;
	    column-count: 3;
	}
}

@media screen and (max-width: 1100px) {
	.interviewee-page .tab-pane {
	    -moz-column-count: 2;
	    -webkit-column-count: 2;
	    column-count: 2;
	}
}

@media screen and (max-width: 800px) {
	.menu {
		visibility: hidden;
	}

	.interviewee-page .tab-pane {
	    -moz-column-count: 1;
	    -webkit-column-count: 1;
	    column-count: 1;
	}

	.interviewee-page .nav-pills li {
		margin-right: 10px;
	}

	.interviewee-page .nav-pills li a {
		font-size: 1.1em;
	}
}